<form action="/payment/results">
  <label for="APR">APR</label>
  <input type="text" id="APR" name="user_apr" placeholder="E.g. 5.42">
  <br>
  <label for="num_years">Number of years</label>
  <input type="text" id="num_years" name="user_years" placeholder="How many years to repay?">
  <br>
  <label for="principal">Principal</label>
  <input type="text" id="num_years" name="user_years" placeholder="How much principal?">
  <br>
  <button>Calculate monthly payment</button>
</form>
