<form action="/random/results">
  <label for="min">Minimum</label>
  <input type="text" id="min" name="minimum" placeholder="E.g. 1.5">
  <br>
  <label for="max">Maximum</label>
  <input type="text" id="min" name="maximum" placeholder="E.g. 4.5">
  <br>
  <button>Pick random number</button>
</form>
