<form action="/square/results"> <!-- do I need to put the query string? -->
  <label for="num">Enter a number</label>
  <br>
  <input type="text" id="num" name="number" placeholder="What number do you want squared?">
  <br>
  <button>Calculate square</button>
</form>
